<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page | Ali Reza</title>
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- Loading -->
    <div id="loading">
        <h1>Welcome to my Weather detection Site</h1>
    </div>
    <header>
        <a href="/D-weatherapi" id="dark">
            <i class="fa-solid fa-moon"></i>
            <h1>Dark Mode</h1>
        </a>
        <a href="/L-weatherapi" id="light">
            <i class="fa-solid fa-sun"></i>
            <h1>Light Mode</h1>
        </a>
    </header>
</body>
</html>